<!DOCTYPE html>
<!--[if lt IE 7]> <html class="no-js ie6 oldie" lang="zh-CN"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7 oldie" lang="zh-CN"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8 oldie" lang="zh-CN"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="zh-CN">
<!--<![endif]-->
<head>
    <title>{{ filename }}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="description" content="{{ description }}">
    <meta name="author" content="{{ author }}">
    <link rel="icon" href="/img/favicon-navy.png" type="image/x-icon">

    <!-- Mobile -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Font -->
    <link href="{{ level * "../"}}statics/css/font.css" rel="stylesheet" type="text/css">

    <!-- LESS -->
    <link rel="stylesheet" href="{{ level * "../"}}statics/css/daux-navy.css">
    <link rel="stylesheet" href="{{ level * "../"}}statics/css/codehilite.css">
</head>

<body style="" screen_capture_injected="true">
    <!-- Docs -->
    <div class="container-fluid fluid-height wrapper">
        <div class="navbar navbar-fixed-top">
            <div class="navbar-inner cycore-nav">
                <a class="brand pull-left" href="/">{{title}}</a>
                <div class="nav-collapse">
                    <ul class="nav">
                        {% for header in headers %}
                            {% if loop.index <= 6 %}
                              <li class="">
                                <a href="{{header.url}}" title="{{header.name}}" target="_blank">
                                    {{header.name}}
                                </a>
                              </li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                    {% if headerslength > 6 %}
                    <ul class="nav" style="float:right;">
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                更多
                                <b class="caret"></b>
                            </a>
                          <ul class="dropdown-menu" role="menu">
                            {% for header in headers %}
                                {% if loop.index > 6 %}
                                    <li>
                                    <a href="{{header.url}}" target="_blank">
                                    {{header.name}}
                                    </a>
                                    </li>
                                {% endif %}
                            {% endfor %}
                          </ul>
                        </li>
                    </ul>
                    {% endif %}


                </div>

            </div>
        </div>

        <div class="row-fluid columns content">
            <div class="left-column article-tree span3">
                <!-- For Mobile -->
                <div class="responsive-collapse">
                    <button type="button" class="btn btn-sidebar" id="menu-spinner-button">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>

                <div id="sub-nav-collapse" class="sub-nav-collapse">
                    {% macro createTree(trees, tlevel=0) -%}
                        <ul class="nav nav-list">
                            {% for tree in trees %}
                                <li>
                                    {% if tree.url == "#" %}
                                    <a href="{{tree.url}}" class="aj-nav folder">
                                    {% else %}
                                    <a href="{{tree.url}}" class="aj-nav" target="_blank">
                                    {% endif %}
                                        {{tree.name}}
                                    </a>

                                    {% if tree.children %}
                                        {{ createTree(tree.children, tlevel + 1)}}
                                    {% endif %}
                                </li>
                            {% endfor %}
                        </ul>
                    {%- endmacro %}

                    <!-- Navigation -->
                    {{ createTree(trees, 0)}}


                    <!-- Links -->
                    <!-- <div class="well well-sidebar"> </div> -->
                </div>
            </div>

            <div class="right-column float-view content-area span9">
                <div class="content-page">
                    <article>
                        <div class="page-header sub-header clearfix">
                            <h1>{{filename}}</h1>
                            <span style="float: left; font-size: 10px; color: gray;">
                                {{createtime}}
                            </span>

                            <span style="float: right; font-size: 10px; color: gray;">
                                {{author}}
                            </span>
                        </div>
                        {{markdown}}
                    </article>
                </div>
            </div>
        </div>
    </div>

    <!-- hightlight.js -->
    <script src="{{ level * "../"}}statics/js/highlight.min.js"></script>
    <script>hljs.initHighlightingOnLoad();</script>

    <!-- Navigation -->
    <script src="{{ level * "../"}}statics/js/jquery.min.js"></script>

    <script src="{{ level * "../"}}statics/js/bootstrap.min.js"></script>
    <script src="{{ level * "../"}}statics/js/custom.js"></script>
    <!--[if lt IE 9]>
    <script src="{{ level * "../"}}statics/js/html5.js"></script>
    <![endif]-->
</body>
</html>